extends layout.pug

block content
    
    if created 
        p Student Added


    .section.flex
       .list 
            if students 
                each student in students 
                    a(href= student.id) #{student.fullname} / #{student.phone}

    a.delete(href= `/${student.id}/delete`) Delete
    



       .details
            h3 Raaid Rizvi 
            p +998912287277
            p raaid@rizvi.com 
            p Tashkent , 23 
            p 102234
