extends layout.pug

block content

   

    .section.flex
       .list 
         a(href="#") Raaid Rizvi / +998912287277
         a(href="#") Irfan Raheem / +9989192747471
         a(href="#") Dinu Pragash / +998994848882
         a(href="#") Vishva Lakshan / +99891251351
         a(href="#") Andrew Tate / +99891251255
         a(href="#") Tristan Tate / +99891231234
         a(href="#") Vinod Pragash / +9989123511142
         a(href="#") Abby Silva / +998918283045



       .details
            h3 Raaid Rizvi 
            p +998912287277
            p raaid@rizvi.com 
            p Tashkent , 23 
            p 102234
